<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<style>
  body {
    margin: 0;
    padding: 0;
    width: 612;
    height: 792px;
    background-size: 50px;
    font-family: sans-serif;
    background: url('http://subtlepatterns.com/patterns/congruent_outline.png');
  }
  h1 {
    color: white;
    text-align: center;
  }
  .page-break {
    page-break-before: always;
  }
</style>
</head>

<body>
  <h1>{{title}}</h2>
</body>

</html>
